.main {
    border: 0;
    background-color: #bdcebe;
    width: 100%;
    height: 100%;
    color: white;
}

#blockOne {
text-align:center;
//margin-left:500px;
//align-content:center;
}

#blockTwo {
   // padding-left:50%;
}
#blockThree {
    text-align: center;
}
#blockFour {
    text-align: center;
}